.hidden
  display: none
.overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background: rgba(248, 240, 240, 0) #ffffff00
  backdrop-filter: blur(3px)
  z-index: 9
.form-inner
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 105rem
  z-index: 10
.form-close
  background-color: transparent
  border: none
  position: absolute
  top: -40px
  right: 0
  &__grey
    display: none
.feedback-form 
  display: flex
  justify-content: space-between
  align-items: center
  padding: 6rem 6rem 6rem 3rem
  border-radius: 15px
  background-color: white  
  &__img     
    margin-right: 2.5rem
    img
      max-width: 45rem
  &__title 
    font-size: 3.6rem
    line-height: 4.3rem
    color: $text-color-main
    text-align: center
    margin-bottom: 3.2rem
  & fieldset
    max-width: 42rem
    margin: 0 auto
  &__label 
    display: flex
    flex-direction: column
    color: $text-color-form-label
    font-weight: 500
    font-size: 1.2rem
    line-height: 1.2rem
    margin-bottom: 2.5rem
    // opacity: 0.8
  &__input
    border: 2px solid $text-color-form-border
    border-radius: 5px  
    margin-top: .8rem
    padding: 1.8rem 0rem 1.8rem 1.6rem
    &::placeholder
      font-weight: 400
      font-size: 1.2rem
      line-height: 1.2rem
      color: $text-color-form-placeholder
      opacity: 0.8
  &__btn 
    margin-bottom: 1.6rem
    width: 100%
  &__text 
    font-weight: 500
    font-size: 1.2rem
    line-height: 1.6rem
    color: $text-color-form
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.252)
    text-align: center
    max-width: 42rem
    & > a
      text-decoration: underline
      color: $text-color-title
.thanks
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  max-width: 100%
  z-index: 10
  background: url("../images/feedback-form-thanks.jpg") center / cover no-repeat
  border-radius: 15px
  &__inner 
    padding: 8.8rem 8.3rem
    width: 63rem
    text-align: center
  &__title 
    font-size: 3.6rem
    line-height: 4.3rem
    margin-bottom: 2.4rem
  &__text 
    font-size: 1.6rem
    line-height: 2.2rem
    font-weight: 500
    opacity: .4
.hidden-thanks
  display: none

@media (max-width: 1100px)
  .form-inner
    width: 84rem
  .feedback-form 
    padding: 3rem 3rem 3rem 3rem
    &__img 
      margin-right: 1.5rem      
      img
        max-width: 30rem

@media (max-width: 900px) 
  .form-inner
    width: 74rem
  .feedback-form     
    &__img 
      margin-right: 1.5rem      
      img
        max-width: 28rem
    &__title 
      font-size: 3rem
      line-height: 2.7rem
      margin-bottom: 1.6rem
    & fieldset
      max-width: 35rem
    &__label 
      font-size: 1.2rem
      line-height: 1.2rem
      margin-bottom: 1rem
      &--last
        margin-bottom: 1.6rem
    &__input
      padding: 1rem 0rem 1rem 1.2rem
    &__text 
      font-size: 1.2rem
      line-height: 1.3rem
      font-weight: 400
      max-width: 37rem

@media (max-width: 760px)
  .form-close
    top: 12px
    right: 12px
    &__grey
      display: block
    &__white
      display: none
  .form-inner
    max-width: 34rem
  .feedback-form 
    flex-direction: column  
    padding: 1.8rem 0rem
    &__img       
      margin-right: 0
      margin-bottom: 1.3rem
      img
        max-width: 12.5rem
    &__title 
      font-size: 2.2rem
      line-height: 2.7rem
      margin-bottom: 1.6rem
    & fieldset
      max-width: 28rem
    &__label 
      font-size: 1.2rem
      line-height: 1.2rem
      margin-bottom: 1rem
      &--last
        margin-bottom: 1.6rem
    &__input
      padding: 1rem 0rem 1rem 1.2rem
    &__text 
      font-size: 1.1rem
      line-height: 1.3rem
      font-weight: 400
      max-width: 32rem
  .thanks
    background: url("../images/feedback-form-thanks-mobil.jpg") center / cover no-repeat
    &__inner 
      padding: 9.8rem 2.3rem
      width: 34rem
    &__title 
      font-size: 2.2rem
      line-height: 2.6rem
      margin-bottom: 1.6rem
    &__text 
      font-size: 1.4rem

@media (max-width: 350px)
  .form-inner
    max-width: 31rem
  .feedback-form 
    &__text 
      max-width: 30rem  